/**
 * Sizes
 * All variables here should be prefixed with "$size-"
 */
$size-top-header-desktop: 70px;
$size-top-header-mobile: 130px;
$size-main-max-width: 1280px;
$size-funnel-max-width: 1000px;
$size-one-third: 100% / 3;
$size-one-fourth: 100% / 4;
$size-two-thirds: 100% * 2 / 3;
$size-one-fifth: 100% / 5;
$size-one-sixth: 100% / 6;
$size-comparator-header: 325px;
$size-mini-header: 80px;
$size-toggleButtonW: 60px;
$size-header-mobile: 75px;
$size-my-address-card: 312px;
$size-my-edit-form-desktop: 420px;
$size-my-message-box: 460px;
$size-cfg-stepper-height: 48px;
$size-max-height-animation: 2000px;
