/**
 * adds shadow on top edge of a block
 */
@mixin block-shadow {
  box-shadow: 0 $space-xs * -1 $space-s 0 palette(neutral, medium);
}

/**
 * adds shadow on right edge of a block
 */
@mixin block-shadow-right {
  box-shadow: $space-s 6px $space-s 0 palette(neutral, medium);
}

/**
* add dark shadow blur to the block
*/
@mixin block-shadow-dark {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/**
* add shadow on bottom edges of a block
*/
@mixin block-shadow-bottom {
  box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.2);
}

/**
* add shadow on every edge
*/
@mixin block-shadow-box {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
